# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
.env

node_modules
bower_components

*.sublime*

content/blog/pending

psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/react

.cache/
public
__generated__
